/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;700;800&display=swap");
:root {
  --primary-color: #22d3ee;
  --slight-primary-color: #5fdaed;
  --dark-gray: #6b7280;
  --off-white: #f9fafb;
  --light-primary: #bae6fd;
  --purple: #7027a0;
  --light-purple: #d9b3f2;
  --blue: #0014ff;
  --stark-bp: #5800ff;
  --dark-primary: #0f545e;
  /* original dark-primary: #0f545e; */
  /* original dark-gray: #6b7280; */
  /* original ow:#f3f4f6 */
  /* light ow: #f9fafb */

  /* lighter otion - #2dd4bf
    darker option - #0d9488 */
}

.home-body-container {
  background-color: var(--primary-color);
}

.mark-headers {
  color: var(--primary-color);
}

.main-stack-container {
  max-width: 1000px;
  display: inline-block;
  margin: 1rem auto 0rem auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.stacks {
  max-width: max-content;
  margin: 1rem 1rem 1rem 1rem;
  display: inline;
  text-align: right;
  display: inline-block;
}

.progress-bars {
  background-color: var(--light-primary);
  border-radius: 2px;
  color: white;
}

.progress-bars::-webkit-progress-value {
  background: var(--primary-color);
  color: white;
}

.emojis {
  font-size: larger;
}

.li-article-blog {
  margin: 0rem 0rem 3rem 0rem;
}

.showcase-blog {
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
}

.margin-bt {
  margin-bottom: 2rem;
}

.section .link {
  margin: 5rem 0.5rem 0rem 0.5rem;
}
body {
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Jost", sans-serif; */
  font-family: "Wix Madefor Display", sans-serif;
  margin: 0px 0.4px 0px 0.4px;
}

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 650px;
  margin: auto;
}

/* .container-center h3 {
  color: var(--dark-primary);
} */

.container-center-blog {
  max-width: 850px;
  margin: auto;
}

/* .container-center-blog h3 {
  color: var(--dark-primary);
} */
.margin-md {
  margin: 4rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 10px var(--light-primary);
}

.link-primary:hover {
  background-color: var(--purple);
  transition: all 0.3s ease-out;
  box-shadow: 0px 10px 10px var(--light-purple);
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 10px 10px var(--light-primary);
  border-radius: 1rem;
}

.link-secondary:hover {
  color: var(--purple);
  border: 1px solid var(--purple);
  transition: all 0.3s ease-out;
  box-shadow: 0px 10px 10px var(--light-purple);
}

.navigation .link {
  color: white;
}

.navigation .link:hover {
  color: white;
  background-color: var(--purple);
  border: var(--light-primary);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all 0.6s ease-in;
}

.navigation .link-active {
  font-weight: bolder;
  font-size: 1.1rem;
}
hr {
  margin: 2rem 0rem;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem 0rem 0rem;
}

.list-non-bullet {
  list-style: none;
}

.navigation .nav-brand a {
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 0rem;
  color: var(--purple);
}
.navigation .nav-brand .link:hover {
  color: white;
  background-color: var(--purple);
  border: var(--light-primary);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 0rem;
  transition: all 0.5s ease-in;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 1.8rem;
  font-weight: 400;
  font-size: large;
  display: flex;
  gap: 18%;
}

.navigation .nav-pills {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.hero .hero-img {
  max-width: 400px;
  /* margin: auto; */
  /* display: block; */
  margin-right: 2rem;
  width: 300px;
  border-radius: 50rem;
  box-shadow: 0px 0px 5px 1px var(--off-white);
}
#main-profile {
  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-width: 35rem;
}

.about-me-div {
  color: var(--purple);

  /* min-width: 30rem; */
  /* font-size: x-large; */
}

.hero .hero-heading {
  /* padding-top: 1rem; */
  margin: 0;
  color: white;
  text-align: left;
}

.hero .header-heading-inverted {
  color: var(--primary-color);
}

.ow {
  background-color: var(--off-white);
  margin: 1rem 5rem;
  border-radius: 3rem;
}

.section {
  padding: 2rem 1rem 3rem 1rem;
  text-align: center;
  font-size: large;
}

.footer .link {
  color: white;
  text-decoration: none;
  display: inline;
}

.footer ul {
  display: inline;
  padding-inline-start: 0px;
}

.ul-section {
  padding-inline-start: 0px;
}

.footer {
  color: white;
  background-color: var(--primary-color);
  padding: 1rem;
  padding-top: 3rem;
  margin-top: 3rem;
  text-align: center;
  border-top-right-radius: 1.8rem;
}

.footer-header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: large;
}

/* .footer .linkedinlogo {
  width: 60px;
}

.footer .twitterlogo {
  width: 50px;
}

.footer .githublogo {
  width: 70px;
  position: relative;
  bottom: 5px;
} */

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #0e76a8;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #211f1f;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #1da1f2;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: black;
}

.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button a {
  text-decoration: none;
}

.wrapper .button span {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  line-height: 50px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #0e76a8;
}

.wrapper .button:nth-child(2) span {
  color: #211f1f;
}

.wrapper .button:nth-child(3) span {
  color: #1da1f2;
}

@media (min-width: 370px) and (max-width: 600px) {
  .main-stack-container {
    display: inline-block;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .stacks {
    max-width: max-content;
    margin: 1rem 1rem 1rem 1rem;
    display: inline;
    text-align: right;
    display: inline-block;
  }

  .hero .hero-heading {
    font-size: 1.5rem;
  }

  body {
    font-family: "Open Sans", sans-serif;
    margin: 0px auto 0px auto;
    min-width: 100vw;
  }
  .ow {
    background-color: var(--off-white);
    margin: 1rem 0rem;
    border-radius: 2rem;
  }
  .hero .hero-img {
    max-width: 320px;
    margin: auto;

    display: block;
  }
  .footer {
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 2rem;
    min-width: 95vw;
  }

  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    font-weight: 500;
    font-size: large;
    min-width: 95vw;
  }

  .section {
    margin-left: 0.6rem;
    margin-right: auto;
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    font-size: large;
  }
}

.sub-hero .sub-hero-img {
  max-width: 350px;
  margin: auto;
  display: block;
}

#blog-img {
  max-height: 300px;
}

.sub-hero .sub-hero-heading {
  padding-top: 1rem;
  color: var(--primary-color);
  text-align: center;
}

.sub-hero .sub-header-heading-inverted {
  color: var(--purple);
}

@media (min-width: 290px) and (max-width: 370px) {
  .main-stack-container {
    display: inline-block;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
        flex-wrap: wrap; */
  }

  .stacks {
    max-width: max-content;
    margin: 1rem 1rem 1rem 1rem;
    display: inline;
    text-align: right;
    display: inline-block;
  }

  .hero .hero-heading {
    font-size: 1.4rem;
  }

  body {
    font-family: "Open Sans", sans-serif;
    margin: 0px auto 0px auto;
    min-width: 108vw;
  }
  .ow {
    background-color: var(--off-white);
    margin: 1rem 0rem;
    border-radius: 2rem;
  }
  .hero .hero-img {
    max-width: 320px;
    margin: auto;
    display: block;
  }
  .footer {
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 2rem;
    min-width: 95vw;
  }

  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    font-weight: 500;
    font-size: large;
    min-width: 95vw;
  }

  .section {
    margin-left: 0.6rem;
    margin-right: auto;
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    font-size: large;
  }
}

@media (max-width: 289px) {
  .main-stack-container {
    display: inline-block;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
        flex-wrap: wrap; */
  }

  .stacks {
    max-width: max-content;
    margin: 1rem 1rem 1rem 1rem;
    display: inline;
    text-align: right;
    display: inline-block;
  }

  .hero .hero-heading {
    font-size: 1rem;
  }

  body {
    font-family: "Open Sans", sans-serif;
    margin: 0px auto 0px auto;
    min-width: 135vw;
  }
  .ow {
    background-color: var(--off-white);
    margin: 1rem 0rem;
    border-radius: 2rem;
  }
  .hero .hero-img {
    max-width: 300px;
    margin: auto;
    display: block;
  }

  .footer {
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 2rem;
    min-width: 95vw;
  }

  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    font-weight: 500;
    font-size: large;
    min-width: 95vw;
  }

  .section {
    margin-left: 0.6rem;
    margin-right: auto;
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    font-size: large;
  }
}
