@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color:#2dd4bf ;

}
body{
    font-family: 'Open Sans', sans-serif;
}

 .container{
    padding: 0rem 1rem;

 }

 .container-center{
    max-width: 600px;
    margin: auto;
 } 

 .link{
    text-decoration: none;
 }

 .link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
 }
 .link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 1rem;
 }

